In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy
import csv
import itertools

In [3]:
device_test_df = pd.read_pickle("device_test_df.pkl")

In [4]:
dev_train_df = pd.read_pickle("device_training_df.pkl")

In [5]:
cookie_all_basic_df = pd.read_pickle("cookie_df.pkl")

In [6]:
dev_train_df.head()

,drawbridge_handle,device_id,device_type,device_os,country,anonymous_c0,anonymous_c1,anonymous_c2,anonymous_5,anonymous_6,anonymous_7
0,handle_292447,id_1000002,devtype_2,devos_138,country_146,1,anonymous_c1_331,anonymous_c2_23084,34,1,204
1,handle_1272807,id_1000061,devtype_2,devos_157,country_146,0,anonymous_c1_1350,anonymous_c2_3147,51,1,203
2,handle_1644226,id_1000068,devtype_2,devos_157,country_146,0,anonymous_c1_1166,anonymous_c2_11093,41,1,204
3,handle_1634852,id_1000149,devtype_4,devos_133,country_146,1,anonymous_c1_1260,anonymous_c2_2456,10,25,198
4,handle_1189159,id_1000202,devtype_4,devos_7,country_146,0,anonymous_c1_917,anonymous_c2_19317,5,1,204

First, need to make dummy columns for categorical data in country, anonymous_c1 and anonymous_c2.

In [7]:
dev_train_country_dummies = pd.get_dummies(dev_train_df['country'], prefix='country')

In [8]:
dev_train_country_dummies.head()

,country_-1,country_country_1,country_country_101,country_country_103,country_country_104,country_country_105,country_country_106,country_country_107,country_country_111,country_country_114,...,country_country_87,country_country_89,country_country_90,country_country_92,country_country_93,country_country_94,country_country_95,country_country_96,country_country_97,country_country_98
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
dev_train_anonymous_c1_dummies = pd.get_dummies(dev_train_df['anonymous_c1'], prefix = 'anonymous_c1')

In [10]:
dev_train_anonymous_c1_dummies.head()

,anonymous_c1_-1,anonymous_c1_anonymous_c1_1,anonymous_c1_anonymous_c1_10,anonymous_c1_anonymous_c1_100,anonymous_c1_anonymous_c1_1000,anonymous_c1_anonymous_c1_1001,anonymous_c1_anonymous_c1_1002,anonymous_c1_anonymous_c1_1003,anonymous_c1_anonymous_c1_1004,anonymous_c1_anonymous_c1_1005,...,anonymous_c1_anonymous_c1_990,anonymous_c1_anonymous_c1_991,anonymous_c1_anonymous_c1_992,anonymous_c1_anonymous_c1_993,anonymous_c1_anonymous_c1_994,anonymous_c1_anonymous_c1_995,anonymous_c1_anonymous_c1_996,anonymous_c1_anonymous_c1_997,anonymous_c1_anonymous_c1_998,anonymous_c1_anonymous_c1_999
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
dev_train_anonymous_c2_dummies = pd.get_dummies(dev_train_df['anonymous_c2'], prefix = 'anonymous_c2')

In [12]:
dev_train_anonymous_c2_dummies.head()

,anonymous_c2_-1,anonymous_c2_anonymous_c2_10,anonymous_c2_anonymous_c2_100,anonymous_c2_anonymous_c2_1000,anonymous_c2_anonymous_c2_10000,anonymous_c2_anonymous_c2_10001,anonymous_c2_anonymous_c2_10002,anonymous_c2_anonymous_c2_10003,anonymous_c2_anonymous_c2_10004,anonymous_c2_anonymous_c2_10005,...,anonymous_c2_anonymous_c2_9986,anonymous_c2_anonymous_c2_9987,anonymous_c2_anonymous_c2_9988,anonymous_c2_anonymous_c2_999,anonymous_c2_anonymous_c2_9990,anonymous_c2_anonymous_c2_9991,anonymous_c2_anonymous_c2_9992,anonymous_c2_anonymous_c2_9995,anonymous_c2_anonymous_c2_9997,anonymous_c2_anonymous_c2_9999
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
dev_train_anonymous_c1_dummies.shape

(142770, 1421)

In [14]:
dev_train_anonymous_c2_dummies.shape

(142770, 24881)

In [15]:
dev_train_country_dummies.shape

(142770, 145)

In [16]:
dev_train_df = pd.concat([dev_train_df, pd.get_dummies(dev_train_df['country'])], axis=1)

In [18]:
dev_train_df.head()

,drawbridge_handle,device_id,device_type,device_os,country,anonymous_c0,anonymous_c1,anonymous_c2,anonymous_5,anonymous_6,...,country_87,country_89,country_90,country_92,country_93,country_94,country_95,country_96,country_97,country_98
0,handle_292447,id_1000002,devtype_2,devos_138,country_146,1,anonymous_c1_331,anonymous_c2_23084,34,1,...,0,0,0,0,0,0,0,0,0,0
1,handle_1272807,id_1000061,devtype_2,devos_157,country_146,0,anonymous_c1_1350,anonymous_c2_3147,51,1,...,0,0,0,0,0,0,0,0,0,0
2,handle_1644226,id_1000068,devtype_2,devos_157,country_146,0,anonymous_c1_1166,anonymous_c2_11093,41,1,...,0,0,0,0,0,0,0,0,0,0
3,handle_1634852,id_1000149,devtype_4,devos_133,country_146,1,anonymous_c1_1260,anonymous_c2_2456,10,25,...,0,0,0,0,0,0,0,0,0,0
4,handle_1189159,id_1000202,devtype_4,devos_7,country_146,0,anonymous_c1_917,anonymous_c2_19317,5,1,...,0,0,0,0,0,0,0,0,0,0

In [19]:
dev_train_df = dev_train_df.drop('country', 1)

In [20]:
dev_train_df = pd.concat([dev_train_df, pd.get_dummies(dev_train_df['anonymous_c1'])], axis=1)

In [22]:
dev_train_df.to_pickle("device_dummies.pkl")

In [23]:
dev_train_df.head()

,drawbridge_handle,device_id,device_type,device_os,anonymous_c0,anonymous_c1,anonymous_c2,anonymous_5,anonymous_6,anonymous_7,...,anonymous_c1_990,anonymous_c1_991,anonymous_c1_992,anonymous_c1_993,anonymous_c1_994,anonymous_c1_995,anonymous_c1_996,anonymous_c1_997,anonymous_c1_998,anonymous_c1_999
0,handle_292447,id_1000002,devtype_2,devos_138,1,anonymous_c1_331,anonymous_c2_23084,34,1,204,...,0,0,0,0,0,0,0,0,0,0
1,handle_1272807,id_1000061,devtype_2,devos_157,0,anonymous_c1_1350,anonymous_c2_3147,51,1,203,...,0,0,0,0,0,0,0,0,0,0
2,handle_1644226,id_1000068,devtype_2,devos_157,0,anonymous_c1_1166,anonymous_c2_11093,41,1,204,...,0,0,0,0,0,0,0,0,0,0
3,handle_1634852,id_1000149,devtype_4,devos_133,1,anonymous_c1_1260,anonymous_c2_2456,10,25,198,...,0,0,0,0,0,0,0,0,0,0
4,handle_1189159,id_1000202,devtype_4,devos_7,0,anonymous_c1_917,anonymous_c2_19317,5,1,204,...,0,0,0,0,0,0,0,0,0,0